/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#dashboard-item {
  background-color: lightgray;
  margin-left: 2%;
  margin-right: 2%;
}

#medium-prob{
  background-color: rgba(251, 251, 122, 0.774);
}

#high-prob {
  background-color: rgb(216, 84, 84);
}
